<section class="process-section">
    <div class="w-layout-blockcontainer container w-container">
      <div class="process-section-title">
        <div class="section-title">
          <div
            class="title-header"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          >
            <h2 class="title-heading">Essential Features<br />
              That Elevate Our Value</h2>
          </div>
        </div>
      </div><div class="process-section-wrapper">
        <div class="w-layout-grid process-section-grid">
          <div
            id="w-node-_6d4b62e2-e920-94c8-08bd-9b7d5dbe0d6c-0e4dec15"
            data-w-id="6d4b62e2-e920-94c8-08bd-9b7d5dbe0d6c"
            class="process-section-content"
          >
            <div class="process-section-bar">
              <div class="process-bar-line">
                <div
                  class="process-bar-thumb"
                  style="will-change: transform; transform: translate3d(0px, 69.938%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                >
                </div>
              </div>
            </div><div class="process-section-steps">
              <div
                class="process-item item-1"
                style="will-change: opacity; opacity: 1;"
              >
                <div class="process-item-inner">
                  <div class="process-item-content">
                    <h3 class="process-title">Advanced Patient Care</h3><p
                      class="process-desc"
                    >
                    Our expert team delivers personalized, top-tier care using cutting-edge technology and the latest medical advancements, ensuring the highest standards in diagnosis and treatment while focusing on your unique needs and overall well-being.
                    </p>
                  </div>
                </div>
              </div><div
                class="process-item item-2"
                style="will-change: opacity; opacity: 0.5;"
              >
                <div class="process-item-inner">
                  <div class="process-item-content">
                    <h3 class="process-title">Comprehensive Services</h3><p
                      class="process-desc"
                    >
                    From detailed wound assessment and classification to thorough weekly rounds, we cover all your medical needs.
                    </p>
                  </div>
                </div>
              </div><div
                class="process-item item-3"
                style="will-change: opacity; opacity: 0.5;"
              >
                <div class="process-item-inner">
                  <div class="process-item-content">
                    <h3 class="process-title">Exceptional Convenience</h3><p
                      class="process-desc"
                    >
                    Benefit from same-day documentation and bedside debridement, designed to streamline your treatment process.
                    </p>
                  </div>
                </div>
              </div><div
                class="process-item item-4"
                style="will-change: opacity; opacity: 0.5;"
              >
                <div class="process-item-inner">
                  <div class="process-item-content">
                    <h3 class="process-title">Ongoing Education:</h3><p
                      class="process-desc"
                    >
                    Stay informed with our educational in-services, ensuring you and your caregivers are always up-to-date with the latest medical knowledge.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><div
            id="w-node-_87a1d44d-5051-0947-d50c-debcd709eb1a-0e4dec15"
            data-w-id="87a1d44d-5051-0947-d50c-debcd709eb1a"
            class="process-image-wrapper"
          >
            <div class="process-image-sticky-box">
              <div class="process-image-block filter-image-box">
                <img
                  src="/images/services-1.avif"
                  alt="process image"
                  class="process-image xfilter-image"
                /><div class="process-shape-box">
                  <img
                    src="/images/logo-mark2.svg"
                    loading="lazy"
                    alt="icon 2"
                    class="process-shape-image"
                    style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45.4608deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  