  
    
   

    <section class="about-section">
      <div class="w-layout-blockcontainer w-container container">
        <div class="about-section-title">
          <div class="section-title">
            <div class="title-header" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              <h2 class="title-heading">
                Where Wound Care 
                <span style="color:var(--secondary);">Excellence Begins</span>
              </h2>
    
            </div>
          </div>
        </div>
        <div data-w-id="dc5e7150-9ba0-ecb2-f21c-34ee3703cc4f" class="about-section-wrapper">
          <div class="w-layout-grid about-section-grid">
            <div class="about-single-image-box">
              <img
              src="/images/image-1.webp"
              loading="lazy"
              alt="Doctor writting down on a notebook" 
              class="service-info-image"
            />
            </div>
            <div id="w-node-_6ae3c572-8d0b-9386-db8b-563c064f45be-0e4dec15" class="about-section-content">
              <div data-w-id="1b6244e0-c6dd-9b44-03e2-30d519c2df1a" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="about-section-desc">
                <div class="desc-text" style="margin-bottom: 1rem;">As pioneers in Skilled Nursing facilities and home health services, we set the benchmark for excellence. </div>

                <div class="desc-text">Our commitment to patient-centered care distinguishes us as leaders in the field.</div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- <div
      data-w-id="dc5e7150-9ba0-ecb2-f21c-34ee3703cc4f"
      class="about-section-wrapper"
      aria-label="About section wrapper"
    >
      <div class="w-layout-grid about-section-grid">
        <div class="about-single-image-box">
          <img
            src="/images/image-1.webp"
            loading="lazy"
            alt="Doctor writting down on a notebook" 
            class="about-single-image"
          />
        </div>

        <div class="about-section-content">
          <div class="icon-box-2">
            <img
              src="/images/logo-mark-blue.svg"
              alt="icon"
              aria-hidden="true"
              class="rotating-logo"
            />
          </div>
          <div
            class="about-section-desc"
          >
            <div class="desc-text">
              <p>As pioneers in Skilled Nursing facilities and home health services, we set the benchmark for excellence. </p>
              <p>Our commitment to patient-centered care distinguishes us as leaders in the field.</p>
              
            </div>
            <div
              data-w-id="3a811a61-ca5e-1a36-f7ec-bf2e5fbcb310"
              class="desc-text-overlay"
              style="will-change: width, height; width: 100%;"
              aria-hidden="true">
            </div>
          </div>
        </div>


      </div>
    </div> -->





  </div>
</section>

<style>
  .rotating-logo {
  transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(360deg) skew(0deg, 0deg); 
  will-change: transform; transform-style: preserve-3d;
}

  @media screen and (max-width: 479px) {
    .title-heading {
      z-index: 9999;
    }

    /* .about-single-image {
      position: relative;
      margin-top: -60px;
      z-index: -1;
    } */
  }
</style>



<style>
  @media screen and (max-width: 479px) {
    .title-heading {
      z-index: 9999;
    }

    /* .about-single-image {
      position: relative;
      margin-top: -60px;
      z-index: -1;
    } */
  }
</style>
