---
import Button from "@components/ui/Button.astro";
---

<section
  class="cta-section"
  style="margin:50px 0"
  aria-label="Call to action section"
>
  <div class="container w-layout-blockcontainer w-container">
    <div class="cta-section-wrapper">
      <div
        data-w-id="bddb4358-f712-a137-6733-78ba04ddb187"
        class="cta-title-box"
        aria-label="Call to action title"
      >
        <h2 class="cta-title">Book A Call</h2>
      </div><div
        data-w-id="28e276c2-9d53-1022-8a7e-9dfbabb60d52"
        class="cta-contact-box"
        aria-label="Contact information"
      >
        <div class="cta-contact-flexbox">
          <div class="cta-phone-box">
            <a href="tel:+000000000002345" class="cta-phone-link"
              >+1 (323) - 264 - 7796</a
            >
          </div>
          <div class="cta-sepretor-line" aria-hidden="true"></div>
          <div class="cta-mail-box">
            <a href="mailto:info@healingedgehc.com" class="cta-mail-link"
              >info@healingedgehc.com</a
            >
          </div>
        </div>
      </div><div
        data-w-id="91be4894-cdd6-0476-8523-ca8a52455fae"
        class="cta-button-box"
      >
        <Button label="Book A Call!" aria-label="Book a call button" />
      </div>
    </div>
  </div>
</section>
