<section class="page-info-section" aria-label="Page information section">

  <div class="container w-layout-blockcontainer w-container">
    <div class="service-info-section-title">
      <div class="section-title"  aria-label="Section title">
        <div
          class="title-header"
        >
          <h1 class="title-heading-2">Skilled Nursing Facilities
        </h1><div
            class="section-title-shape-box"
             aria-hidden="true">
          </div>
        </div>
      </div>
    </div>
    <div class="service-info-section-wrapper">
      <div class="w-layout-grid service-info-section-grid">
        <div
          id="w-node-_31841327-2549-9be0-c496-5c5f45b2ee8e-7c8ca56a"
          data-w-id="31841327-2549-9be0-c496-5c5f45b2ee8e"
          class="service-info-image-wrapper"
          aria-label="Service information image"
        >
          <div class="service-info-image-box filter-image-box">
            <img
              src="/images/skilled01.jpg"
              class="service-info-image"
              alt="Nursing help image"
            />
          </div>
          
        </div><div
          id="w-node-_8f0e17f6-3207-c1ce-03f0-3385b0ab6ab3-7c8ca56a"
          class="service-info-details-box"
        >
          <div class="service-info-details-title-box">
            <h2 class="service-info-details-title">
            Comprehensive <span style="color:var(--secondary);">Care Commitment</span>
            </h2>

            <p class="desc-text">
            At no cost to the facility, we provide comprehensive services for Skilled Nursing Facilities nationwide. 
            Our commitment ensures that every patient, regardless of insurance type, receives dedicated care that adheres to the highest standards of patient wellbeing. 
            </p>
            <p class="desc-text" style="margin-top: 2rem;">
            We prioritize the health and comfort of your residents, delivering personalized care solutions to meet their needs.
            </p>

          </div>
         

        </div>
      </div>
    </div>
  </div>
</section>



<style>

  @media screen and (max-width: 479px) {

    .hero-title {
      text-align: center;
      margin: 0 auto;
      z-index: 9999;
    }

    /* .service-info-image-wrapper{
      margin-top: -60px;
      z-index: -1;
    } */

  }

</style>
