<section class="page-info-section" aria-label="Page information section">
  <div class="container w-layout-blockcontainer w-container">
    <div class="service-info-section-title">
      <div class="section-title">
        <div
          class="title-header" aria-label="Section title">
          <h1 class="title-heading-2">Bringing Expert Wound Care to the <span style="color:var(--secondary);">Comfort of Your Home</span></h1><div
            class="section-title-shape-box"
          >
          </div>
        </div>
      </div>
    </div><div class="service-info-section-wrapper">
      <div class="w-layout-grid service-info-section-grid">
        <div
          id="w-node-_31841327-2549-9be0-c496-5c5f45b2ee8e-7c8ca56a"
          data-w-id="31841327-2549-9be0-c496-5c5f45b2ee8e"
          class="service-info-image-wrapper"
          aria-label="Service information image"
        >
        <div class="service-info-image-box filter-image-box">
          <img
            src="/images/nursing-home.avif"
            alt="Nursing home image"
            class="service-info-image"
          />
        </div>
        </div><div
          id="w-node-_8f0e17f6-3207-c1ce-03f0-3385b0ab6ab3-7c8ca56a"
          class="service-info-details-box"
        >
          <div class="service-details-rich-text w-richtext">
            <h2 style="margin-bottom: 1.5rem">Wound Care from the 
              <span style="color:var(--secondary);">Comfort of Your Home</span>
            </h2>
            <h4>
              We deliver the highest standard of wound care directly to your home, ensuring your comfort and wellbeing with weekly visits.
            </h4>
            <p>
              Whether you prefer to be paired with a home health company or come to us through a referral, our dedicated providers offer personalized care. We accept Medicare and most insurances, striving to make quality healthcare accessible and convenient for you and your family.
            </p>
            
            
            <ul role="list" style="margin-top: 1.5rem;">
<li>Weekly visits for comprehensive wound care at home.</li>
<li>Options to connect with a home health company or referral-based care.</li>
<li>Medicare and most insurance plans are accepted for financial ease.</li>
<li>Focused on providing a comfortable and supportive care experience for patients and their families.</li>
            </ul>
           
            </p>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<style>

  @media screen and (max-width: 479px) {

    .hero-title {
      text-align: center;
      margin: 0 auto;
      z-index: 9999;
    }

    /* .service-info-image-wrapper{
      margin-top: -60px;
      z-index: -1;
    } */

  }

</style>