<section class="hero-section">
  <div class="w-layout-blockcontainer container w-container">
    <div class="hero-section-wrapper">
      <div class="hero-content-box">
        <div class="hero-title-box left-align">
          <h1 class="hero-title">Revitalizing</h1>
        </div>
        <div class="hero-title-box right-align">
          <h2 class="hero-title text-primary">Wound Care</h2>
          <div class="hero-title-shape-box"></div>
        </div><div class="hero-image-box filter-image-box">
          <img
            src="/images/hero.webp"
            alt="Team of doctors and caregivers"
            class="hero-image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>


<style>

  @media screen and (max-width: 479px) {

    .hero-title {
      text-align: center;
      margin: 0 auto;
    }

    /* .hero-image{
      margin-top: -120px;
    } */

  }

</style>
