<section class="loop-text-section" style="margin:2rem 0" aria-label="Loop text section">
  <div class="w-layout-blockcontainer container-fluid padding-0 w-container">
    <div class="loop-text-wrapper">
      <div
        class="loop-text-block" aria-label="Loop text block">
        <div class="loop-text">Completely free to the facility!</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">All services billed to patient's insurance</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">Completely free to the facility!</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">All services billed to patient's insurance</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
      </div>
      <div
        class="loop-text-block" aria-label="Loop text block">
        <div class="loop-text">Completely free to the facility!</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">All services billed to patient's insurance</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">Completely free to the facility!</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">All services billed to patient's insurance</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
      </div>
      <div
        class="loop-text-block" aria-label="Loop text block">
        <div class="loop-text">Completely free to the facility!</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">All services billed to patient's insurance</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">Completely free to the facility!</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">All services billed to patient's insurance</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
      </div>

  </div>
</section>
