<section class="loop-text-section" style="margin: 2rem 0;" aria-label="Looping text section">
  
  <div class="w-layout-blockcontainer container-fluid padding-0 w-container">
    <div class="loop-text-wrapper">
      <div
        class="loop-text-block"
        aria-label="Looping text block"
      >
        <div class="loop-text">Alhambra, California,</div>
        
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />

        <a href="tel:+000002345" class="loop-link">+1 (323) - 264 - 7796</a>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">
          Alhambra, California,
        </div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <a href="tel:+000002345" class="loop-link">+1 (323) - 264 - 7796</a>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />

      </div><div
        class="loop-text-block"
      >
        <div class="loop-text">Alhambra, California,</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <a href="tel:+000002345" class="loop-link">+1 (323) - 264 - 7796</a>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">
          Alhambra, California,
        </div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <a href="tel:+000002345" class="loop-link">+1 (323) - 264 - 7796</a>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />

      </div><div
        class="loop-text-block"
      >
        <div class="loop-text">Alhambra, California,</div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <a href="tel:+000002345" class="loop-link">+1 (323) - 264 - 7796</a>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <div class="loop-text">
          Alhambra, California,
        </div>
        <img src="/images/logo-mark-blue.svg" alt="" class="loop-image" aria-hidden="true" />
        <a href="tel:+000002345" class="loop-link">+1 (323) - 264 - 7796</a><img src="/images/logo-mark-blue.svg" alt="" class="loop-image" />

      </div>
    </div>
  </div>
</section>
