<section class="service-section">
  <div class="w-layout-blockcontainer container w-container">
    <div
      data-w-id="c4d12e3d-f5aa-b523-9833-fecdc960440a"
      class="service-section-wrapper"
    >
      <div class="service-section-content">
        <div class="service-section-title">
          <div class="section-title">
            <div
              class="title-header"
              style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            >
              <h2 class="title-heading-1">healing edge services</h2><div
                class="section-title-shape-box"
              >
              </div>
            </div>
          </div>
        </div><div class="service-section-list">
          <div
            class="service-list-wrapper item-1 w-dyn-list"
            style="will-change: transform, opacity; transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(6.5deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
          >
            <div role="list" class="service-list w-dyn-items">
              <div role="listitem" class="service-item w-dyn-item">
                <a
                  href="/service/neurology-services"
                  class="service-link-block w-inline-block"
                  style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                  ><div class="service-thumbnail">
                    <img
                      src="https://cdn.prod.website-files.com/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                      loading="lazy"
                      alt="randoms"
                      class="service-image"
                    />
                  </div><div class="service-content">
                    <h3 class="service-title">Neurology services</h3><p
                      class="service-desc"
                    >
                      Explore advanced neurology services for diagnostics and
                      personalized treatment plans neurological well-being with
                      expertise and care.
                    </p>
                  </div></a>
              </div>
            </div>
          </div><div
            class="service-list-wrapper item-2 w-dyn-list"
            style="will-change: opacity, transform; opacity: 1; transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-8.9deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          >
            <div role="list" class="service-list w-dyn-items">
              <div role="listitem" class="service-item w-dyn-item">
                <a
                  href="/service/cardiology-services"
                  class="service-link-block w-inline-block"
                  style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                  ><div class="service-thumbnail">
                    <img
                      src="https://cdn.prod.website-files.com/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                      loading="lazy"
                      alt="randoms"
                      class="service-image"
                    />
                  </div><div class="service-content">
                    <h3 class="service-title">Cardiology services</h3><p
                      class="service-desc"
                    >
                      Comprehensive cardiology services providing expert care,
                      precise diagnostics, and personalized treatment plans for
                      heart health excellence.
                    </p>
                  </div></a>
              </div>
            </div>
          </div><div
            class="service-list-wrapper item-3 w-dyn-list"
            style="will-change: opacity, transform; opacity: 1; transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(4.62deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          >
            <div role="list" class="service-list w-dyn-items">
              <div role="listitem" class="service-item w-dyn-item">
                <a
                  href="/service/eye-care-services"
                  class="service-link-block w-inline-block"
                  style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                  ><div class="service-thumbnail">
                    <img
                      src="https://cdn.prod.website-files.com/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                      loading="lazy"
                      alt="randoms"
                      class="service-image"
                    />
                  </div><div class="service-content">
                    <h3 class="service-title">Eye care services</h3><p
                      class="service-desc"
                    >
                      Exceptional eye care services with expert vision care,
                      advanced diagnostics, and personalized treatment plans for
                      visual well-being.
                    </p>
                  </div></a>
              </div>
            </div>
          </div><div
            class="service-list-wrapper item-4 w-dyn-list"
            style="will-change: opacity, transform; opacity: 1; transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2.32deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          >
            <div role="list" class="service-list w-dyn-items">
              <div role="listitem" class="service-item w-dyn-item">
                <a
                  href="/service/dental-services"
                  class="service-link-block w-inline-block"
                  style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                  ><div class="service-thumbnail">
                    <img
                      src="https://cdn.prod.website-files.com/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                      loading="lazy"
                      alt="randoms"
                      class="service-image"
                    />
                  </div><div class="service-content">
                    <h3 class="service-title">Dental services</h3><p
                      class="service-desc"
                    >
                      A Premium dental service offering the expert care, modern
                      treatments, and personalized solutions for optimal oral
                      health
                    </p>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
