<section class="process-section" aria-label="Essential Features">

  <div class="container w-layout-blockcontainer w-container">
    <div class="process-section-title">
      <div class="section-title">
        <div
          class="title-header">
          <h2 class="title-heading">Essential Features<br />
            <span style="color:var(--secondary);">That Elevate Our Value</span></h2>
        </div>
      </div>
    </div><div class="process-section-wrapper">
      <div class="w-layout-grid process-section-grid">
        <div
          id="w-node-_6d4b62e2-e920-94c8-08bd-9b7d5dbe0d6c-0e4dec15"
          data-w-id="6d4b62e2-e920-94c8-08bd-9b7d5dbe0d6c"
          class="process-section-content"
          aria-label="Process section content"
        >
          <div class="process-section-bar">
            <div class="process-bar-line">
              <div
                class="process-bar-thumb"
                aria-hidden="true"
                >
              </div>
            </div>
          </div><div class="process-section-steps">
            <div
              class="process-item item-1 "
              aria-label="Process item 1"
            >
              <div class="process-item-inner">
                <div class="process-item-content">
                  <h3 class="process-title">Advanced Patient Care</h3><p
                    class="process-desc"
                  >
                  Our expert team delivers personalized, top-tier care using cutting-edge technology and the latest medical advancements, ensuring the highest standards in diagnosis and treatment while focusing on your unique needs and overall well-being.
                  </p>
                </div>
              </div>
            </div><div
              class="process-item item-2 "
              aria-label="Process item 2"
            >
              <div class="process-item-inner">
                <div class="process-item-content">
                  <h3 class="process-title">Comprehensive Services</h3><p
                    class="process-desc"
                  >
                  From detailed wound assessment and classification to thorough weekly rounds, we cover all your medical needs.
                  </p>
                </div>
              </div>
            </div><div
              class="process-item item-3 "
              aria-label="Process item 3"
            >
              <div class="process-item-inner">
                <div class="process-item-content">
                  <h3 class="process-title">Exceptional Convenience</h3><p
                    class="process-desc"
                  >
                  Benefit from same-day documentation and bedside debridement, designed to streamline your treatment process.
                  </p>
                </div>
              </div>
            </div><div
              class="process-item item-4 "
              aria-label="Process item 4"
            >
              <div class="process-item-inner">
                <div class="process-item-content">
                  <h3 class="process-title">Ongoing Education:</h3><p
                    class="process-desc"
                  >
                  Stay informed with our educational in-services, ensuring you and your caregivers are always up-to-date with the latest medical knowledge.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><div
          id="w-node-_87a1d44d-5051-0947-d50c-debcd709eb1a-0e4dec15"
          data-w-id="87a1d44d-5051-0947-d50c-debcd709eb1a"
          class="process-image-wrapper"
           aria-label="Process image wrapper"
        >
          <div class="process-image-sticky-box">
            <div class="process-image-block filter-image-box">
              <img
                src="/images/services-1.avif"
                alt="Nursing Care Image"
                class="process-image"
              
              /><div class="process-shape-box">
                <img
                  src="/images/logo-mark220-dark.svg"
                  loading="lazy"
                  alt="icon 2"
                  class="process-shape-image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
