---
import Button from "@components/ui/Button.astro"
---


<section class="cta-section" style="margin:2rem 0; position:relative; overflow:hidden; padding:2rem 0;" aria-label="Call to action section">

  <div class="container w-layout-blockcontainer w-container">
    <div class="cta-section-wrapper">
      <div
        data-w-id="0b8c08ce-87bd-3de3-1475-69fd1103df8e"
        class="cta-title-box"
        aria-label="Call to action title"
      >
        <h2 class="cta-title">Contact Us</h2>
      </div>

      <div
        data-w-id="0b8c08ce-87bd-3de3-1475-69fd1103df89"
        class="cta-subtitle-box"
        aria-label="Call to action subtitle"
      >
        <h2 class="cta-reviews-text">
          Please reach out to us for a referral, or to inquire about available positions!
        </h2>
        <div class="cta-shape-box" aria-hidden="true"></div>
      </div>

      <div
        data-w-id="0b8c08ce-87bd-3de3-1475-69fd1103df91"
        class="cta-contact-box"
      >
        <div class="cta-contact-flexbox">
          <div class="cta-reviews-box">
            <div class="cta-reviews-text">
              Positions Available Nationwide. Part Time or Full Time!
            </div>
          </div>
        </div>
      </div><div
        data-w-id="0b8c08ce-87bd-3de3-1475-69fd1103df9a"
        class="cta-button-box"
      >
      <Button label="Contact Us" aria-label="Contact Us button" />
      </div>
    </div>
  </div>
</section>


<style>
  @media screen and (max-width: 479px) {
    .cta-title-box,
    .cta-reviews-text {
      text-align: center;
      margin: .5rem 0;
  }
}
</style>