<section style="text-align: center; margin: 2rem auto">
  Alhambra, California
  <a href="tel:+000000002345" class="footer-phone">+1 (323) - 264 - 7796</a><a href="mailto:info@example.com" class="footer-mail">info@healingedgehc.com</a>

  <!-- <h3 class="widget-title">Pages</h3>

  <a href="/" aria-current="page" class="footer-nav-link w--current">Home</a>
  <a href="/skilled" class="footer-nav-link">Skilled Nursing Facilities</a>
  <a href="/health" class="footer-nav-link">Home Health</a> -->

  <!-- <div class="center-footer"></div> -->

  
    <!-- <div class="copyright-box"> -->
    <div class="copyright-text">© 2024. All rights reserved.</div>
    <!-- </div> -->
  
</section>
